<%- include('../partials/header'); -%>

<h1 style="text-align:center;" class="my-3">Add New Campground</h1>
<div style="width:30%; margin:auto;">
<form action="/campgrounds" method="POST">
<input type="text" class="form-control my-3" placeholder="name" name="name">
<input type="text" class="form-control my-3" placeholder="image url" name="image">
<input type="text" class="form-control my-3" placeholder="description" name="description">
<button class="btn btn-lg btn-primary btn-block my-3">Submit</button>
</form>
<a href="campgrounds" class="text-center">Back to campgrounds</a>
</div>

<%- include('../partials/footer') -%>
